/* CSS Document */

/* Top navigation bar */
header{
    padding-top:5px;
    margin-bottom:5px;
}
header .rlo_title{
    padding-top:5px;
    font-size:180%;
    margin-bottom:0;
}

html > body > div.container > nav#main_nav.navbar.navbar-default div{
    padding:0px;
}
html > body > div.container > nav#main_nav.navbar.navbar-default > div#bs-example-navbar-collapse-1.collapse.navbar-collapse > ul.nav.navbar-nav > li > a{
    padding:auto 5px;
}

/* Main content text container */
article{
  clear:both;
  padding-top:10px;
  border:2px solid #3276B1;
  border-bottom:none;
  border-radius:10px 10px 0 0 ;
  margin-top:10px;
  padding:10px;
}
article h1{
    margin-top:10px;
    border-bottom:1px solid #3276B1;
}

#rightText-component img{
    width: 100%;
    height: 100%;
    max-height: 300px;
}

/* Previous & Next buttons within text container */
nav.section_nav{
    padding:10px 10px;
}
nav.section_nav ul{
    list-style:none;
    padding:0;
    margin:0;
}

/* Footer */
footer{
    background-color:#000;
    color:#fff;
    padding:20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom:10px;
}
footer ul{
    margin:0;
    padding:0;
    list-style:none;
}
@media(max-width:767px){
    header{
        display:none;
    }
    #tools{
        background-color:#999;
        padding:2px;
        text-align:center;
        float:none!important;
        position:fixed;right:0;left:0;z-index:1030;/*top:20px;*/
    }
    #tools span.tool_text{
        display:none;
    }
    #small_screen_menu_container{
        margin-top:40px;
    }
    #small_screen_menu_container p.rlo_title{
        font-size:180%;
        font-weight:bold;
        text-align:center;
        /*background-color:#333;
        color:#fff;
        font-size:110%;
        position:fixed;right:0;left:0;top:0;z-index:1020;*/
    }
    #small_screen_menu{
        list-style:none;
        padding:0;
        margin:0;
    }
    #small_screen_menu li{
        padding:0;
        margin:0 0 5px 0;
    }
    #section_nav li a{
        width:48%;
    }
    article{
        border:none;
    }
    article h1{
        text-align:center;
        font-size:200%;
        padding-bottom:10px;
        border-bottom-width:2px;
    }
    #doc_top_btn{
        margin:20px 10px;
    }
    footer div.text-right{
        text-align:center;
        margin-top:20px;
    }
    footer{
        text-align:center;
    }
}