/* CSS Document */

/* Top navigation bar */
header{
    padding-top:5px;
    margin-bottom:5px;
}
header .rlo_title{
    padding-top:5px;
    font-size:180%;
    margin-bottom:0;
}

html > body > div.container > nav#main_nav.navbar.navbar-default div{
    padding:0px;
}
html > body > div.container > nav#main_nav.navbar.navbar-default > div#bs-example-navbar-collapse-1.collapse.navbar-collapse > ul.nav.navbar-nav > li > a{
    padding:auto 5px;
}

/* Main content text container */
article{
  clear:both;
  padding-top:10px;
  border:2px solid #3276B1;
  border-bottom:none;
  border-radius:10px 10px 0 0 ;
  margin-top:10px;
  padding:10px;
}
article h1{
    margin-top:10px;
    border-bottom:1px solid #3276B1;
}

/* Previous & Next buttons within text container */
nav.section_nav{
    padding:10px 10px;
}
nav.section_nav ul{
    list-style:none;
    padding:0;
    margin:0;
}

/* Footer */
footer{
    background-color:#000;
    color:#fff;
    padding:20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom:10px;
}
footer ul{
    margin:0;
    padding:0;
    list-style:none;
}